@import "tailwindcss";

.paint-brush,
.pen,
.eraser,
.palette {
  cursor: pointer;
  @apply flex justify-center items-center gap-1;
}

.speed {
  background: #fff;
  width: 50px;
  height: 350px;
  border-radius: 30px;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: center;
}

.speed-bar {
  width: 100%;
  background: linear-gradient(-170deg, #2376ae 0%, #c16ecf 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  color: white;
  height: 16.3%;
}
